---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

interface Props {
  projects: { title: string; description: string; link: string }[];
}

const projects = [
  { title: 'FTC Tracker', description: 'A React Native app for FTC teams.', link: 'https://ftc-tracker.gitbook.io/ftc-tracker' },
  { title: 'GPA Calculator', description: 'A GUI for automatic GPA calculation.', link: '#' },
  { title: 'YouTube Chain Game', description: 'A puzzle game based on YouTube recommendations.', link: '#' }
];

---

<Layout title = "Projects">
  <div class="intro-text">
    <p>Hello! I'm Jacob, a passionate developer interested in robotics, AI, and computer science...</p>
  </div>
  <hr />
  <h1>PROJECTS</h1>
  <!-- {projects.map(project => (
    <ProjectCard {...project} />
  ))} -->

  
    <div class="container">

      <div class="col-left">
        <div class="row row1">

        </div>

        <div class="row row3">
          <div class="row-col left"></div>
          <div class="row-col right"></div>
        </div>

        <div class="row row2"></div>

      </div>

      <div class="col-right">
        <div class="row row1"></div>
        <div class="row row2"></div>
        <div class="row row3">
          <div class="row-col left"></div>
          <div class="row-col right">
          </div>
        </div>
      </div>

    </div>
  </div>
</Layout>

<style>
  .container{
    background-color: #f8f9fa;
    display: flex;
    gap: .5rem;
    width: 1000px;
    height: 1000px;
  }



  .col-left{
    flex: 1;
    gap: .5rem;
    display: flex;
    flex-direction: column;
  }
  .row{
    flex: 1;
    border-radius: 12px;
    border: 1px solid #838383;
  }
  .row3{
    display:flex;
    flex: 0.5;
    gap: 0.5rem;
    border-width: 0px;
  }
  .row-col{ 
    flex: 1;
    border: 1px solid #838383;
    border-radius: 12px;
  }



  .col-right{
    flex: 1;
    gap: .5rem;
    display: flex;
    flex-direction: column;
  }
  .col-right .row1{
    flex: 1.4;
    border: 1px solid #838383;
  }
  .col-right .row2{
    border: 1px solid #838383;
    border-radius: 12px;
  }



  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  hr {
      border: none;
      border-top: 1px solid #ccc;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }
  h1{
      user-select: none; /* Disables text selection */
      color:#838383;
      font-size: 0.9rem;
      margin-bottom: 2rem;
  }
  .main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  .intro-text p {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 1.5rem 0;
    color: #333;
  }
</style>
