---
// Importing the Header component to be displayed on every page.
import Header from '../components/Header.astro';

// Defining props to pass a dynamic title to the layout.
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jacob Taira Portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <Header />
    <main>
      <slot /> <!-- This is where the page-specific content will render -->
    </main>
  </body>
</html>

<style>
  html {
  color: rgb(0, 0, 0);
  background-color: #000000;
  overflow: hidden;
  overflow-y: auto; /* Allow vertical scrolling */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
main {
  max-width: 66rem;
  margin: 2rem auto;
  padding: 1rem;
}

</style>
